<form class="navbar-form" action="<%= search_path %>" method="get">
  <div class="form-group">
    <input type="text" id="globalsearchform" class="typeahead-form form-control" placeholder="Search" name="search" value="<%= params[:search] if params.has_key?((:search)) %>">
    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
  </div>
</form>
