footer {
  font-size: 12px;
  margin-top: 20px;

  .footer-nav {
    border-top: 1px solid #e7e7e7;
    padding: 5px 0;
    margin: 10px 0;

    > div {
      margin: 0 -15px;
    }

    a {
      color: #999;
      display: inline-block;
      padding: 5px 15px;
    }
  }
}
