.page-header {
  border-color: $grey-light;
  margin: $space 0;

  h1 {
    font-weight: 300;
    margin-top: 0;

    small {
      color: $grey;
    }
  }

  h1, h2, h3 {
    margin: 0 0 ($space - 15) 0;
  }
}
