// overrides
.btn {
  border-radius: 2px;
}
.well {
  background: $grey-super-light;
  border-color: $grey-light;
  box-shadow: none;

  p:last-child {
    margin-bottom: 0;
  }
}


// mixins
@mixin truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// additional

.highlight {
  color: $brand-primary;
}

.btn-link-danger {
  @extend .btn-link;

  color: $text-color;
  border-color: $grey-super-light;

  $color: $btn-danger-color;
  $background: $btn-danger-bg;
  $border: $btn-danger-border;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  }
  .open & { &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  } }
  &:active,
  &.active {
    background-image: none;
  }
  .open & { &.dropdown-toggle {
    background-image: none;
  } }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }
}
