<% users.each do |user| %>
  <div class="users-grid-item">
    <a class="pull-left">
      <img class="media-object avatar" src="<%= user.avatar(:thumb_square) %>" alt="<%= user.fullname %>" title="<%= user.fullname %>" width="75">
      <% if user.is_active? %>
        <span class="label label-info">active</span>
      <% else %>
        <span class="label label-default">invited</span>
      <% end %>
    </a>
    <div class="media-body">
      <b><%= user.fullname %><%#= link_to user.fullname, user %></b>
    </div>
  </div>
<% end %>
