

<% if @questions.first.present? %>
  <div class="project-questions">
    <%= render 'questions/list', questions: @questions %>
  </div>
<% else %>
  <br>
  <br>
  <p class="lead text-center"><%= link_to "Add a question", new_project_question_path(@project) %> now.</p>
<% end %>



<% content_for "sidebar" do %>
  <%= link_to "<i class='fa fa-plus'></i> Question".html_safe, new_project_question_path(@project), class: "btn btn-primary" %>
  <br><br>
  <%= render "layouts/activity_box", resource: @project %>
<% end %>
