// own
$grey-super-light: #f7f7f7;
$grey-light: #e7e7e7;
$grey: #999;
$grey-dark: #444;
$black: #000;
$base-radius: 2px;

// vendor
$brand-primary: #569ef0;
$brand-info: $brand-primary;
$alert-info-bg: lighten($brand-primary, 30%);
$alert-info-border: $brand-primary;
$alert-info-text: $brand-primary;
$grid-gutter-width: 40px;
$btn-default-border: $grey-light;
$input-border: $grey-light;
$input-border-focus: $brand-primary;
$input-border-radius: $base-radius;
$border-radius-base: $base-radius;


// spacing
$space: $grid-gutter-width;
$space-medium: $space / 2;
$space-small: $space / 4;
$space-mini: $space / 8;
$space-tiny: $space / 16;
