// colors

$brand-primary: #569ef0;
$black: #000;
$grey-super-light: #f7f7f7;
$grey-light: #e7e7e7;
$grey: #999;
$grey-dark: #444;


// import libs
@import "bootstrap-sass/lib/bootstrap.scss";
@import "../bootstrap-markdown/css/bootstrap-markdown.min.css";
@import "font-awesome/scss/font-awesome.scss";


// import shared stuff
@import "shared/mixins";
@import "shared/footer";


// layout
@import "layout";
@import "navigations";
@import "navbar";


// resources
@import "projects";
@import "questions";



// overrides
.btn {
  border-radius: 2px;
  border-color: transparent;
}
