// .navbar-satiisfy {
//   border-bottom: 2px solid rgba(black, 0.04);
// }
// .navbar-sidebar {
//   background: $brand-primary;
//
//   a {
//     color: white;
//     font-weight: bold;
//   }
// }
// .navbar-content {
//   background: white;
// }




// .sidebar-nav {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//
//   li {
//     display: block;
//     font-weight: bold;
//     padding: 5px 0;
//   }
// }
// .sidebar-nav-header {
//   font-size: 75%;
//   text-transform: uppercase;
// }
// .sidebar-nav-divider {
//
// }
