.questions-listing {
  .question:last-child {
    border: none;
  }
}


.question {
  @include clearfix();

  border-bottom: 1px $grey-light solid;
  padding: 10px 0;
  position: relative;

  &:hover {
    background: darken(white, 3%);

    .question-title a {
      text-decoration: underline;
    }
  }

  a {
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.question-title {
  @include make-sm-column(6);

  color: $text-color;
  font-weight: bold;

  a {
    color: $text-color;
    padding: 5px 0;
  }
}

.question-meta {
  @include make-sm-column(3);
}

.question-actions {
  @include make-sm-column(3);
  @extend .text-right;

  a {
    padding: 0 $space-mini;
  }
}


h2 + .question-answer {
  margin-top: $space-medium;
}











.question-stats {
  @media (min-width: $screen-sm) {
    float: right;

    .stats-bar {
      padding: 0;
    }
  }
}

.question-title,
.question-stats {
  @media (min-width: $screen-sm) {
    display: inline-block;
  }
}
