.wrapper { @include make-row; }
.sidebar { @include make-sm-column(3); }
.content { @include make-sm-column(9); }


.page-header {
  @include make-row;

  border: 0;
  margin-bottom: 40px;

  .page-header-title {
    @include make-sm-column(9);

    margin: 0;

    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }
  .page-header-actions {
    @include make-sm-column(3);

    .btn {
      @media (max-width: $screen-sm) {
        display: block;
      }
      @media (min-width: $screen-sm) {
        float: right;
      }
    }
  }
}


footer {
  font-size: 12px;

  .footer-nav {
    border-top: 1px solid #e7e7e7;
    padding: 5px 0;
    margin: 10px 0;

    > div {
      margin: 0 -15px;
    }

    a {
      color: #999;
      display: inline-block;
      padding: 5px 15px;
    }
  }
}
