.wrapper { @include make-row; }
.sidebar { @include make-sm-column(3); }
.content { @include make-sm-column(9); }


.page-header {
  @include make-row;

  border: 0;
  margin-bottom: 40px;

  .page-header-title {
    @include make-sm-column(9);

    margin: 0;

    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
    }
  }
  .page-header-actions {
    @include make-sm-column(3);

    .btn {
      @media (max-width: $screen-sm) {
        display: block;
      }
      @media (min-width: $screen-sm) {
        float: right;
      }
    }
  }
}
