<div class="alert alert-sm alert-info">
  <% if resource.updater_id.present? %>
    Updated by <span"alert-link"><%= resource.updater.fullname %></span>
    <span data-livestamp="<%= resource.updated_at.to_i %>"></span>
  <% else %>
    Created by <span"alert-link"><%= resource.creator.fullname %></span>
    <span data-livestamp="<%= resource.created_at.to_i %>"></span>
  <% end %>
</div>
