<small>
  <% if resource.updater_id.present? %>
    Edited <span data-livestamp="<%= resource.updated_at.to_i %>"></span><br>
    by <%= resource.updater.fullname %>
  <% else %>
    Created <span data-livestamp="<%= resource.created_at.to_i %>"></span><br>
    by <%= resource.creator.fullname %>
  <% end %>
</small>
