<!DOCTYPE html>
<html>
  <head>
    <title>Satiisfy</title>
    <%= stylesheet_link_tag    "website", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body  class="website">


    <div class="hello-air">
      <div class="hello-wrapper">
        <div class="hello-text">
          <div class="id">Satiisf<span class="no-letter">y</span></div>
          <div class="release">Coming this fal<span class="no-letter">l</span></div>
        </div>
      </div>
    </div>


    <footer>Satiisfy is a project by <a href="https://twitter.com/andrezimpel" target="_blank">@andrezimpel</a>.</footer>

    <%= javascript_include_tag "website", "data-turbolinks-track" => true %>
  </body>
</html>
